<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.bakingapp">

    <!-- Add internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Add the launch mode "single top" to the MainActivity - when you open MainActivity, -->
        <!-- it will take you back to the already opened activity, not generate a new one -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add a receiver tag for WidgetProvider and an intent-filter for APPWIDGET_UPDATE with meta data pointing to the widget_provider_info file -->
        <receiver
            android:name=".widget.BakingAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/baking_app_widget_provider_info" />
        </receiver>

        <!--Register service-->
        <service
            android:name=".widget.UpdateIngredientsService"
            android:exported="false" />
        <!--android:exported = Whether or not components of other applications can invoke the service or interact with it-->

        <!--Register RemoteViewsService - for app widgets with collections-->
        <service
            android:name=".widget.IngredientsListService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

    </application>
</manifest>